<dic class="container mt-4 mx-5">
<form action="/answer" class="d-flex" data-turbo="false">
  <input type="text" class="form-control" name="question">
  <input type="submit" class="btn btn-primary" value="Ask!">
</form>/.d-flex
</div>/.container.mt-4.mx-5
